pip
numpy
pandas
geopandas
pyarrow
matplotlib
seaborn
plotly
scikit-learn
jupyter
rasdapy3
protobuf==3.20.*
affine
shapely
rasterio
folium
contextily
xarray
rioxarray
netcdf4
h5netcdf
fiona
sparqlwrapper
tqdm
colormap
nltk
spacy
wordcloud
requests
psycopg2-binary
sqlalchemy
segno
qrcode-artistic
lazypredict
torch==2.5
torchvision==0.20
