##
## requirements.txt
## https://pip.pypa.io/en/latest/cli/pip_install/#requirements-file-format
##

## NumPy [[https://numpy.org]]
numpy>=1.22

## OpenCV [[https://pypi.org/project/opencv-python/]]
opencv-python~=4.6.0.66


